# Задание 4 - PyCaret - открытая low-code библиотека машинного обучения на Python

## Картунчиков Артем ББМО-01-23

## Задание

* Импортируйте набор данных 'diabetes'
* Выполните импорт всех библиотек из модуля classification библиотеки pycaret
* Настройте эксперимент, цель - значения столбца 'Class variable'
* Выполните поиск наилучшей модели
* Определите наиболее значимые признаки  
* Выполните графическое построение наилучшей модели

Импортируем нужные библиотеки

In [2]:
from pycaret.regression import *
from pycaret.datasets import get_data
from pycaret.classification import *


all_datasets = get_data('index')

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,NaN,NaN,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,NaN,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,NaN,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,NaN,683,10,N
6,credit,Multivariate,Classification (Binary),default,NaN,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,NaN,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,NaN,10000,14,N
9,employee,Multivariate,Classification (Binary),left,NaN,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,NaN,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,NaN,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,NaN,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,NaN,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,NaN,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,NaN,1340,21,N
16,wine,Multivariate,Classification (Binary),type,NaN,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,NaN,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,NaN,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,NaN,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,NaN,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,NaN,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,NaN,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,NaN,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,NaN,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,NaN,2129,40,Y
26,asia_gdp,Multivariate,Clustering,NaN,NaN,40,11,N
27,elections,Multivariate,Clustering,NaN,NaN,3195,54,Y
28,facebook,Multivariate,Clustering,NaN,NaN,7050,12,N
29,ipl,Multivariate,Clustering,NaN,NaN,153,25,N
30,jewellery,Multivariate,Clustering,NaN,NaN,505,4,N
31,mice,Multivariate,Clustering,NaN,NaN,1080,82,Y
32,migration,Multivariate,Clustering,NaN,NaN,233,12,N
33,perfume,Multivariate,Clustering,NaN,NaN,20,29,N
34,pokemon,Multivariate,Clustering,NaN,NaN,800,13,Y
35,population,Multivariate,Clustering,NaN,NaN,255,56,Y
36,public_health,Multivariate,Clustering,NaN,NaN,224,21,N
37,seeds,Multivariate,Clustering,NaN,NaN,210,7,N
38,wholesale,Multivariate,Clustering,NaN,NaN,440,8,N
39,tweets,Text,NLP,tweet,NaN,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,NaN,20000,2,N
41,kiva,Text,NLP / Classification,en,NaN,6818,7,N
42,spx,Text,NLP / Regression,text,NaN,874,4,N
43,wikipedia,Text,NLP / Classification,Text,NaN,500,3,N
44,automobile,Multivariate,Regression,price,NaN,202,26,Y
45,bike,Multivariate,Regression,cnt,NaN,17379,15,N
46,boston,Multivariate,Regression,medv,NaN,506,14,N
47,concrete,Multivariate,Regression,strength,NaN,1030,9,N
48,diamond,Multivariate,Regression,Price,NaN,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,NaN,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,NaN,2558,121,N
52,house,Multivariate,Regression,SalePrice,NaN,1461,81,Y
53,insurance,Multivariate,Regression,charges,NaN,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,NaN,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,NaN,48204,8,N

Загрузим датасет `diabetes`

In [6]:
data=get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Настроим эксперимиент, цель начения столбца 'Class variable'

In [7]:
reg = setup(
    data=data, 
    target='Class variable', 
    train_size=0.8, 
    session_id=10,
    normalize=True
)

Выполним поиск наилучшей модели

In [8]:
best_model = compare_models()

Определим самые важные признаки

In [11]:
top_features = pull()
top_features

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
ridge,Ridge Classifier,0.7589,0.0000,0.5418,0.7028,0.6084,0.4391,0.4490,0.005
lr,Logistic Regression,0.7573,0.6504,0.5420,0.6969,0.6075,0.4363,0.4449,0.293
lda,Linear Discriminant Analysis,0.7573,0.6507,0.5418,0.6991,0.6071,0.4361,0.4457,0.006
gbc,Gradient Boosting Classifier,0.7525,0.5887,0.6080,0.6542,0.6267,0.4432,0.4461,0.023
rf,Random Forest Classifier,0.7493,0.5577,0.5511,0.6648,0.5997,0.4209,0.4262,0.029
nb,Naive Bayes,0.7444,0.5209,0.6082,0.6398,0.6223,0.4298,0.4310,0.006
et,Extra Trees Classifier,0.7377,0.5811,0.5411,0.6452,0.5856,0.3970,0.4018,0.023
qda,Quadratic Discriminant Analysis,0.7347,0.5639,0.5615,0.6386,0.5941,0.3989,0.4034,0.006
ada,Ada Boost Classifier,0.7328,0.5722,0.5422,0.6321,0.5804,0.3878,0.3919,0.019
lightgbm,Light Gradient Boosting Machine,0.7328,0.6230,0.5924,0.6232,0.6042,0.4034,0.4061,0.038
svm,SVM - Linear Kernel,0.7297,0.0000,0.5511,0.6364,0.5818,0.3857,0.3931,0.005
knn,K Neighbors Classifier,0.7246,0.4994,0.5266,0.6279,0.5707,0.3705,0.3750,0.200
dt,Decision Tree Classifier,0.6889,0.5000,0.5509,0.5557,0.5507,0.3135,0.3151,0.006
dummy,Dummy Classifier,0.6515,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.005

Выполним графическое построение модели

In [12]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…